@{
    ViewData["Title"] = "Bob";
}

<style>
    h5 {
        color: red;
        font-weight: bolder;
        text-decoration: underline;
    }
</style>

<div class="card text-center mx-auto" style="width: 30rem;">
    <img class="card-img-top" src="https://robohash.org/123" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">WANTED</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><Strong>Grandeur:</Strong> 5.90 m</li>
        <li class="list-group-item"><strong>Poids:</strong> 4000 kg</li>
        <li class="list-group-item"> <strong>Nom: </strong>Bob</li>
        <li class="list-group-item"> <strong>Pays: </strong>Bresil</li>
    </ul> 
</div>
