<form method="post" action="@Url.Action("UpdateRobotPays", "Robot")">
    <div class="form-group">
        <label for="idRobot">ID du Robot :</label>
        <input type="text" class="form-control" id="idRobot" name="idRobot">
    </div>
    <div class="form-group">
        <label for="nouveauPays">Nouveau Pays :</label>
        <input type="text" class="form-control" id="nouveauPays" name="nouveauPays">
    </div><br>
    <button type="submit" class="btn btn-success">Modifier</button>
</form>
